In [138]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
white_data_not_scaled  = pd.read_csv("winequality-white.csv", delimiter=";")
red_data_not_scaled = pd.read_csv("winequality-red.csv", delimiter=";")
white_scaler= StandardScaler()
red_scaler = white_scaler = StandardScaler()
white_scaler.fit(white_data_not_scaled.drop('quality', axis = 1))
white_data_arr = white_scaler.transform(white_data_not_scaled.drop('quality', axis = 1))
white_data = pd.DataFrame(white_data_arr, index=white_data_not_scaled.drop('quality', axis = 1).index, columns=white_data_not_scaled.drop('quality', axis = 1).columns)
red_scaler.fit(red_data_not_scaled.drop('quality', axis = 1))
red_data_arr = red_scaler.transform(red_data_not_scaled.drop('quality', axis = 1))
red_data = pd.DataFrame(red_data_arr, index=red_data_not_scaled.drop('quality', axis = 1).index, columns=red_data_not_scaled.drop('quality', axis = 1).columns)

In [139]:
errors_for_columns = []
labels = np.array(white_data_not_scaled['quality'])
feature_list = list(white_data.columns.values)
train_features, test_features, train_labels, test_labels = train_test_split(white_data, labels, test_size = 0.25)
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

lr = LinearRegression()
lr.fit(train_features, train_labels)
c = lr.predict([[0] * 11])[0]
predictions = lr.predict(test_features)
error = mean_absolute_error(test_labels, predictions)
B = lr.coef_
print(list(zip(B, feature_list)))
print(error)

[(0.053679594101978874, 'fixed acidity'), (-0.1801145044746018, 'volatile acidity'), (-0.005175785672119668, 'citric acid'), (0.4033025798886995, 'residual sugar'), (-0.012923862940276688, 'chlorides'), (0.08079466436347589, 'free sulfur dioxide'), (-0.004746462817115368, 'total sulfur dioxide'), (-0.4274199263559272, 'density'), (0.09911545082275011, 'pH'), (0.07133390146006943, 'sulphates'), (0.26699467734563403, 'alcohol')]
0.5707654372282618

In [140]:
max = []
min = []
for x in white_data.columns.values:
  max.append(white_data_not_scaled[x].max())
  min.append(white_data_not_scaled[x].min())
high = white_scaler.transform([max])
low = white_scaler.transform([min])
high_modified = [x if x < 3 else 3 for x in high[0]]
low_modified = [x if x > -3 else -3 for x in low[0]]
print(high)
print(low)
print(high_modified)
print(low_modified)

[[ 3.3784  3.1965  7.1327 44.8824  5.4948 26.1192 11.9669 22.3842  3.2972
   2.4895  3.5454]]
[[-2.5967 -2.5017 -1.3915 -1.3755 -1.6677 -1.3269 -1.1394 -5.1076 -3.83
  -2.5857 -2.2744]]
[3, 3, 3, 3, 3, 3, 3, 3, 3, 2.489473476718105, 3]
[-2.596669213182548, -2.5017388031722625, -1.3914722776605752, -1.3755397167252128, -1.6677060569057258, -1.3268694271963943, -1.139356868200391, -3, -3, -2.5856511367579436, -2.2743875923873964]

In [141]:
import random as rnd
again = True
while again:
  sum = 0
  x10 = (10- c)/B[10]
  helper = []
  for  i in range(10):
    helper.append(rnd.uniform(low_modified[i], high_modified[i]))
    x10 = x10 - (B[i]/B[10]) * helper[i]
  helper.append(x10)
  if x10>-3 and x10<3:
    again = False

In [142]:
helper

[1.9205835245756977,
 -2.3599634161555136,
 -0.7367591581790307,
 2.8938895158039117,
 -0.4572973028803562,
 0.8763596279264079,
 -0.2773442510044326,
 -2.840965682657182,
 2.183185195052803,
 1.5404734216848,
 2.957815240470361]

In [143]:
lr.predict([helper])

array([10.])

In [144]:
good_white_wine = white_scaler.inverse_transform(helper)

In [145]:
white_data_not_scaled.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    4898.000000       4898.000000  ...  4898.000000  4898.000000
mean        6.854788          0.278241  ...    10.514267     5.877909
std         0.843868          0.100795  ...     1.230621     0.885639
min         3.800000          0.080000  ...     8.000000     3.000000
25%         6.300000          0.210000  ...     9.500000     5.000000
50%         6.800000          0.260000  ...    10.400000     6.000000
75%         7.300000          0.320000  ...    11.400000     6.000000
max        14.200000          1.100000  ...    14.200000     9.000000

[8 rows x 12 columns]

In [146]:
np.set_printoptions(suppress=True)
print(good_white_wine)

[11.6625  0.1054  0.1275  6.6177  0.066  25.0389 37.3473  0.9914  3.6481
  0.9192 13.574 ]

In [147]:
labels = np.array(red_data_not_scaled['quality'])
feature_list = list(red_data.columns.values)
train_features, test_features, train_labels, test_labels = train_test_split(red_data, labels, test_size = 0.25)

from sklearn.svm import SVR
lr = SVR(kernel='linear')
lr.fit(train_features, train_labels)
c = lr.predict([[0] * 11])[0]
predictions = lr.predict(test_features)
error = mean_absolute_error(test_labels, predictions)
B = lr.coef_[0]
print(list(zip(B, feature_list)))
print(error)

[(0.10522369525440112, 'fixed acidity'), (-0.16567270708223047, 'volatile acidity'), (-0.050354297866719966, 'citric acid'), (0.07784128328002288, 'residual sugar'), (-0.07492964875356312, 'chlorides'), (0.028237878742932487, 'free sulfur dioxide'), (-0.09185110298060961, 'total sulfur dioxide'), (-0.08176965986234488, 'density'), (-0.043717996689981053, 'pH'), (0.1591217654928423, 'sulphates'), (0.35290895094383773, 'alcohol')]
0.5349326655323975

In [148]:
max = []
min = []
for x in red_data.columns.values:
  max.append(red_data_not_scaled[x].max())
  min.append(red_data_not_scaled[x].min())
high = red_scaler.transform([max])
low = red_scaler.transform([min])
high_modified = [x if x < 8 else 8 for x in high[0]]
low_modified = [x if x > -8 else -8 for x in low[0]]
print(high)
print(low)
print(high_modified)
print(low_modified)

[[ 4.3551  5.878   3.7436  9.1957 11.127   5.3673  7.3752  3.6801  4.5283
   7.9187  4.2025]]
[[-2.137  -2.2783 -1.3915 -1.1627 -1.6039 -1.4225 -1.2306 -3.5387 -3.7004
  -1.9365 -1.8989]]
[4.355149169489777, 5.87797605428994, 3.743573931527866, 8, 8, 5.367284317782079, 7.375153940009771, 3.6800551248443094, 4.528281970573037, 7.918676551599458, 4.202452586112064]
[-2.137044857303386, -2.278279740306604, -1.3914722776605752, -1.1626963374974064, -1.6039448910707979, -1.422500194981801, -1.2305837697169284, -3.538731398195885, -3.700401226239349, -1.9365072908482162, -1.8989185965323547]

In [149]:
import random as rnd
again = True
while again:
  sum = 0
  x10 = (10 - c)/B[10]
  helper = []
  for  i in range(10):
    helper.append(rnd.uniform(low_modified[i], high_modified[i]))
    x10 = x10 - (B[i]/B[10]) * helper[i]
  helper.append(x10)
  if x10>-4 and x10<4:
    again = False

In [150]:
print(helper)
lr.predict([helper])

[3.8906107416477145, -1.9677137937442108, -0.22749169200751118, 7.514111100886236, -0.9283213449015979, 4.232348223382669, -0.5701069418791957, -1.6299219572181363, -3.3712236729406415, 7.256984061985782, 3.888733298439179]

array([10.])

In [151]:
good_red_wine = red_scaler.inverse_transform(helper)

In [152]:
red_data_not_scaled.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [153]:
np.set_printoptions(precision=4)
np.set_printoptions(suppress=True)
print(good_red_wine)

[15.0914  0.1756  0.2267 13.1298  0.0438 60.1321 27.7198  0.9937  2.7908
  1.8879 14.5658]